@media (max-width:428px) {
    h1 {
        display: block;
        color: black;
        text-align: center;
        font-size: 24px;
        margin-bottom: 65px;
       }

       form {
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
       }
       main {
        margin-top: 60px;
        margin-bottom: 50px;
       }

       form {
        background:  transparent;
        }

        label {
            font-size: 20px;
        }

        select {
            padding: 8px;
            width: auto;
            height: auto;
            color: white;
            font-size: 16px;
        }

        .new_order {
            width: auto;
            height: auto;
        }
        .new_order img {
            width: 70px;
            height: 70px;
        }

        .new_order button {
            padding: 8px 5px;
            width: 180px;
            height: auto;
            font-size: 16px;
            border-radius: 13px;
        }

        .title_content {
            padding: 10px;
            width: auto;
            height: auto;
        }

        .new_order {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title_content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap:30px
        }

        form {
            height: 119px;
            gap: 30px;
            padding: 0;
        }

        .orders {
            width: 300px;
            height: auto;
            border-radius: 13px;
        }

        .title_order {
            display: none;
        }
        
        .orders p, .orders button {
            font-size: 12px;
            border-radius: 12px;
        }

        .orders button {
            width: auto;
            height: auto;
            padding: 6px;
        }

      .order_title {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
      }

        li::marker {
            font-size: 16px;
            color: white;
        }

        .order_title {
            margin-bottom: 10px;
        }

        ol {
            gap: 20px;
        }

}
